{% extends 'blog/base.html' %}
{% block content %}

<div class="col-md-15">
          <div class="content-section">
            <h3>About Page</h3>
             <p> Welcome to our blog, a website developed by some of the Cryptofluencers.
             We shortly introduce the team members here: </p>
              <p> Robin: Text hier</p>
              <p> Claudio: I am a passionate hard and software engineer spending most of my free time developing electrical circuits and exercising in a local Crossfit box.
                  I am currently studying Information System at Uni Liechtenstein. If I want to free my mind and get rid of all what bothers me, I go into the garage and fix and maintain bikes. </p>
              <p> Riley: Text hier </p>
          </div>
</div>

{% endblock content %}
