{% extends 'blog/base.html' %}
{% block content %}


<div class="col-md-15">
          <div class="content-section">
            <h3>About the Blog</h3>

              <img class="roundrect" src="../../media/profile_pics/crypto.png">
            <p> </p>
             <p> Cryptofluencers is a place where anyone  can register and write or read about cryptocurrency and blockchain technology. It can bring people together with
             the same thoughts, ideas and a lot more. Even the less affiliated persons out there to the crypto scene are invited to join the site and to learn here from
                 the advanced ones. </p>
          </div>
</div>

<div class="col-md-15">
          <div class="content-section">
              <h3>About the amazing Team</h3>
<table cellpadding="20">

  <tr>
    <td>
        <img class="resizepic" src="../../media/profile_pics/picture_robin.png">
    </td>
    <td><b>Robin:</b> I am totaly into the crypto business. It is fascinating me since a long time because this technology is unique and very powerfull.
        After studying economics at the University of Memechester. I decided to start with the Master at the Uni Liechtensein. I work for a start up and don't have much freetime,
    but if I have I mostly relax at home and listen to music.
    </td>
  </tr>
  <tr>
    <td align="left">
        <img class="resizepic" src="../../media/profile_pics/picture_claudio.png">
    </td>
    <td> <b>Claudio:</b> I am a passionate hard and software engineer spending most of my free time developing electrical circuits and exercising in a local Crossfit box.
         I am currently studying Information System at Uni Liechtenstein.
        If I want to free my mind and get rid of all what bothers me, I go into the garage and fix and maintain bikes in my shop called Claudio's Bastelbüdeli.</td>
  </tr>
  <tr>
    <td>
        <img class="resizepic" src="../../media/profile_pics/picture_riley.png">
    </td>
    <td><b>Riley:</b> In this group I am propably the laziest one in coding. At least I posted a useless comment on GitHub. I am from the US and decided to study abroad at
    the University of Liechtenstein. If I don't have work to do for the Uni, I often go visiting interesting places in Switzerland to explore the country.
    </td>
  </tr>
</table>
                        </div>
</div>

{% endblock content %}
